{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>
        새로운 댓글 작성하기
    </h1>

    {% if comment.writer.username == 'user' %}
    <b>{{ comment.writer.last_name }}{{ comment.writer.first_name}}</b>
    {% else %}
    <b>{{ comment.writer }}</b>{% endif %} : {{ comment.content }}<br>

    <form action="{% url 'posts:update_comment' comment.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
    <label>글 내용</label>
    <textarea class="form-control" name="content">{{ comment.content }}</textarea>
    </div>

    <input type="submit" value="글 수정" class="btn btn-outline-primary">

    </form>
</div>
{% endblock %}